In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

ModuleNotFoundError: No module named 'sklearn'

In [3]:
df = pd.read_csv('database.csv')

In [6]:
df.head()

        Year  Ceremony    Award  Winner                 Name              Film
0  1927/1928         1    Actor     NaN  Richard Barthelmess         The Noose
1  1927/1928         1    Actor     1.0        Emil Jannings  The Last Command
2  1927/1928         1  Actress     NaN       Louise Dresser   A Ship Comes In
3  1927/1928         1  Actress     1.0         Janet Gaynor        7th Heaven
4  1927/1928         1  Actress     NaN       Gloria Swanson    Sadie Thompson

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9964 entries, 0 to 9963
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Year      9964 non-null   object
 1   Ceremony  9964 non-null   int64
 2   Award     9964 non-null   object
 3   Winner    2321 non-null   float64
 4   Name      9964 non-null   object
 5   Film      9631 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 467.2+ KB

In [10]:
df.isnull().sum()

Year           0
Ceremony       0
Award          0
Winner      7643
Name           0
Film         333
dtype: int64

In [11]:
# Fill missing values
df['Winner'] = df['Winner'].fillna(0)
df['Film'] = df['Film'].fillna('Unknown')

In [12]:
# Drop 'Ceremony' column, as it's redundant with 'Year'
df = df.drop(['Ceremony'], axis=1)

In [13]:
# Extract year from 'Year' column and convert it to integer
df['Year'] = df['Year'].str.extract('(\d{4})').astype(int)

In [14]:
# Filter dataset for relevant award categories (e.g., Best Actor, Best Actress, Best Director, Best Picture)
relevant_awards = ['Actor', 'Actress', 'Director', 'Picture']
df = df[df['Award'].isin(relevant_awards)]

In [15]:
# Feature engineering: create new columns for each relevant award category
for award in relevant_awards:
    df[f'is_{award}'] = (df['Award'] == award).astype(int)

In [16]:
# Convert categorical columns to numerical using LabelEncoder
le = LabelEncoder()
df['Name'] = le.fit_transform(df['Name'])
df['Film'] = le.fit_transform(df['Film'])

NameError: name 'LabelEncoder' is not defined

In [ ]:
# Split data into features (X) and target (y)
X = df.drop(['Winner', 'Award'], axis=1)
y = df['Winner']

In [ ]:
# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# Standardize the data
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)